html,
body {
    height: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 4px 8px 0 rgba(0, 0, 0, .08);
    width: 475px;
    height: 258px;
}

.card-left {
    background: linear-gradient(to bottom, #21c8f6, #637bff);
}

.text-inherit {
    color: inherit;
}

.card-meta>div>img {
    /* Added as of custom image which was larger size */
    height: 18px;
}

.card-skill-button {
    background: rgba(0, 0, 0, .4);
}
